
src/MyShare.Kernel.Tests.Extensions/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Mvc.Core.xml
src/MyShare.Kernel.Tests.Extensions/bin/Debug/netstandard2.0/MyShare.Kernel.Tests.Extensions.deps.json
src/MyShare.Kernel.Tests.Extensions/bin/Debug/netstandard2.0/Newtonsoft.Json.xml
