################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin
/obj
*.user
/Build
/src/MyShare.Kernel/bin/Debug/netcoreapp2.0
/src/MyShare.Kernel/obj
/src/MyShare.Kernel/OtherLib/Disruptor/Properties
/src/MyShare.Kernel.Tests/bin/Debug/netcoreapp2.0
/src/MyShare.Kernel.Tests/obj/Debug/netcoreapp2.0
/src/MyShare.Kernel.Tests/obj/Release/netcoreapp2.0
/src/MyShare.Kernel.Tests/obj
/src/MyShare.Kernel.Tests.Extensions/obj
/src/MyShare.Kernel.Tests.Extensions/bin/Debug/netcoreapp2.0
/src/MyShare.Sample/bin/Debug/netcoreapp2.0
/src/MyShare.Sample/obj/Debug/netcoreapp2.0
/src/MyShare.Sample/obj
/src/MyShare.Sample.Web/obj
/src/MyShare.Sample.Web/bin/Debug/netcoreapp2.0
/src/MyShare.Sample.Tests/obj
/src/MyShare.Sample.Tests/bin/Debug/netcoreapp2.0
